%html
  %head
    %meta{:charset => "utf-8"}
      = csrf_meta_tag
      = display_meta_tags :site => 'MasukNegeri.com', title: 'Latihan soal-soal SMA untuk UN dan SNMPTN', description: 'Gabung dengan ribuan siswa dari seluruh Indonesia untuk bersama-sama mengikuti latihan soal-soal SMA untuk UN dan SNMPTN gratis!'
      %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
        %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
          = stylesheet_link_tag "application", :media => "all"
          /[if lt IE 9]
            %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
          :javascript
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-12425854-2']);
            _gaq.push(['_setDomainName', 'masuknegeri.com']);
            _gaq.push(['_trackPageview']);
            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
  %body
    %header{id:"header", role:"banner"}
      .container
        %div{class:"header-inner clearfix"}
          %h1#logo
            = link_to "#" do
              %span= "masuknegeri.com"
          .header-menu
            = render "credential"
    #main-body
      .body-inner
        .container
          = render 'shared/flasher'
          = yield
  
    %footer{:role => "contentinfo"}
      #footer-inner
        .container.clearfix
          .supported
            %span Supported by:
            %ul
              %li
                %a{:href => "http://www.suitmedia.com/"}= image_tag "logo-suit-white.png"
              %li
                %a{:href => "#"}= image_tag "logo-idea.png"
          .sos-med
            %a.ico-fb{:href => "http://www.facebook.com/masuknegeri"} Join us on
            %a.ico-tweet{:href => "http://twitter.com/#!/masuk_negeri"} Follow us on
          %small.copy © 2012 Masuknegeri.com. All Rights Reserved
    - unless Rails.env.development? || Rails.env.test?
      %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write("<script src='/assets/jquery.js'><\/script>")
    = javascript_include_tag "application"
    = yield :script
